::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    /* mexe na scroll como um todo*/
}

::-webkit-scrollbar-thumb {
    background: #2C2C2C;
    border-radius: 15px;
    /* mexe com a parte movel da scroll*/
}